<form [formGroup]="regForm" (ngSubmit)="submit">
	<label for="nom">Nom:
		<input type="text" formControlName="nom">
	</label>
	<span class="error" *ngIf="this.regForm.get('nom')?.errors?.['required'] && this.regForm.get('nom')?.touched">El nom no po ser buit</span>
	<span class="error" *ngIf="this.regForm.get('nom')?.errors?.['minlength'] && this.regForm.get('nom')?.touched">El nom no pot tenir menys de 6 lletres</span>
	<span class="error" *ngIf="this.regForm.get('nom')?.errors?.['pattern'] && this.regForm.get('nom')?.touched">Només s'admenten lletres llatines en el nom</span>
	<label for="correu">Correu electrònic:
		<input type="text" formControlName="correu">
	</label>
	<span class="error" *ngIf="this.regForm.get('correu')?.errors?.['required'] && this.regForm.get('correu')?.touched">Correu invàlid</span>
	<!-- <span class="error" *ngIf="this.regForm.get('correu')?.errors?.['email'] && this.regForm.get('correu')?.touched">
		pon bien el correu
	</span> -->
	<span class="error" *ngIf="this.regForm.get('correu')?.errors?.['pattern'] && this.regForm.get('correu')?.touched">El correu no es valid</span>
	<label for="contra">Contrassenya:
		<input type="text" formControlName="contra">
	</label>
	<span class="error" *ngIf="this.regForm.get('contra')?.errors?.['required'] && this.regForm.get('contra')?.touched">
		pon la contraseña
	</span>
	<span class="error" *ngIf="this.regForm.get('contra')?.errors?.['minlength'] && this.regForm.get('contra')?.touched">
		minimo 8 caracteres
	</span>
	<label for="contrarepeat">Repetir la contrassenya:
		<input type="text" formControlName="contrarepeat">
	</label>
	<span class="error" *ngIf="this.regForm.get('contra') != this.regForm.get('contrarepeat') && this.regForm.get('contrarepeat')?.touched">Les contrassenyes no són identiques.</span>
	<p>Estat civil:</p>
	<select formControlName="estat" name="estat" id="" >
		<option *ngFor="let a of estat" value="{{a}}">{{a}}</option>
	</select>
	<span *ngIf="this.regForm.get('estat')?.errors?.['required'] && this.regForm.get('estat')?.touched">Indica l'estat civil.</span>
	<label for="sexe">Sexe:
		<label><input type="radio" name="sexe" formControlName="sexe" value="dona">Dona</label>
		<label><input type="radio" name="sexe" formControlName="sexe" value="home">Home</label>
		<label><input type="radio" name="sexe" formControlName="sexe" value="altres">Altres</label>
	</label>
	<span *ngIf="this.regForm.get('sexe')?.errors?.['required'] && this.regForm.get('sexe')?.touched">Indica un genere.</span>

	<p> De que vols rebre l'informacio:</p>
	<p *ngFor="let i of info">
		<input type="checkbox" value="{{i}}">{{i}} 
	</p>

	<p>Aceptar condicions:<input type="checkbox" formControlName="checkConds"></p>
	<span *ngIf="this.regForm.get('checkConds')?.errors?.['required'] && this.regForm.get('checkConds')?.touched">Has d'acceptar les condicions</span>
	<!-- <p>Edad:</p>      
		<input type="number" formControlName="edad" appEntrevalores>
		<span *ngIf="this.regForm.get('edad')?.errors?.['required'] && this.regForm.get('edad')?.touched">
			Pon la edad
		</span>
		<span *ngIf="this.regForm.get('edad')?.errors?.['entre'] && this.regForm.get('edad')?.touched">
			Pon la edad entre 18 y 100
		</span> -->
	<button type="submit" [disabled]="regForm.invalid">Registrar</button>
</form>
