<p>formulario reactivo</p> 
<div class="container">
    <form [formGroup]="miform" (ngSubmit)="submit()">
        <p>Nombre:</p>
        <input type="text" formControlName="nombre">
        <span class="error" *ngIf="this.miform.get('nombre')?.errors?.['required'] && this.miform.get('nombre')?.touched">
            el nombre no puede estar vacio
        </span>
        <span class="error" *ngIf="this.miform.get('nombre')?.errors?.['minlength'] && this.miform.get('nombre')?.touched">
            el nombre mas de seis letras
        </span>
        <span class="error" *ngIf="this.miform.get('nombre')?.errors?.['pattern'] && this.miform.get('nombre')?.touched">
            solo se admiten letras
        </span>
        <p>Correo:</p>
        <input type="text" formControlName="correo">
        <span class="error" *ngIf="this.miform.get('correo')?.errors?.['required'] && this.miform.get('correo')?.touched">
            pon bien el correo
        </span>
        <!-- <span class="error" *ngIf="this.miform.get('correo')?.errors?.['email'] && this.miform.get('correo')?.touched">
            pon bien el correo
        </span> -->
        <span class="error" *ngIf="this.miform.get('correo')?.errors?.['pattern'] && this.miform.get('correo')?.touched">
            pon bien el correo
        </span>
        <p>Contraseña:</p>
        <input type="text" formControlName="password">
        <span class="error" *ngIf="this.miform.get('password')?.errors?.['required'] && this.miform.get('password')?.touched">
            pon la contraseña
        </span>
        <span class="error" *ngIf="this.miform.get('password')?.errors?.['minlength'] && this.miform.get('password')?.touched">
            minimo 8 caracteres
        </span>
        <p>Repetir contraseña:</p>
        <input type="text" formControlName="passwordrepeat">
        <span class="error" *ngIf="this.miform.get('password') != this.miform.get('passwordrepeat') && this.miform.get('passwordrepeat')?.touched">
            la contraeña ha de ser igual que la anterior
        </span>
        <p>Estat civil:</p>
        <select formControlName="estat" name="estat" id="" >
            <option *ngFor="let a of estado" value="{{a}}">{{a}}</option>
        </select>
        <span *ngIf="this.miform.get('estat')?.errors?.['required'] && this.miform.get('estat')?.touched">
            Pon el estado civil
        </span>
        <p>Sexe: <br>
            <input type="radio" name="sexe" formControlName="sexe" value="dona">dona
            <br>
            <input type="radio" name="sexe" formControlName="sexe" value="home">Home
            <br>
            <input type="radio" name="sexe" formControlName="sexe" value="altres">Altres
        </p>
        <span *ngIf="this.miform.get('sexe')?.errors?.['required'] && this.miform.get('sexe')?.touched">
            Pon el genero
        </span>

        <p> De que vols rebre l'informacio:</p>
        <p *ngFor="let i of informacio">
        <input type="checkbox" value="{{i}}"> {{i}} 
        </p>

        <p>Aceptar condicions:<input type="checkbox" formControlName="checkcondicions"></p>
        <span *ngIf="this.miform.get('checkcondicions')?.errors?.['required'] && this.miform.get('checkcondicions')?.touched">
            Tienes que aceptar las condiciones
        </span>
        <!-- <p>Edad:</p>      
            <input type="number" formControlName="edad" appEntrevalores>
            <span *ngIf="this.miform.get('edad')?.errors?.['required'] && this.miform.get('edad')?.touched">
                Pon la edad
            </span>
            <span *ngIf="this.miform.get('edad')?.errors?.['entre'] && this.miform.get('edad')?.touched">
                Pon la edad entre 18 y 100
            </span> -->
        <button type="submit" [disabled]="miform.invalid">clica</button>
    </form>
    <div>
        {{datos}}
    </div>
</div>
